<div class="card__container">
    <img class="card__img" params="" src="${imgURL}" alt="">
    <h4>${price}</h4>
    <p>${name}</p>
    <a href="${id}">Ver producto</a>
</div>

<button type="button"></button>