<footer class="footer__container">
    <div class="footer__description">

    <div class="footer__package">

        <div class="footer__logo">
        <img src="./assets/img/Logo.svg" alt="">
        </div>

        <div class="footer__options">
        <a class="footer__options--link" href="">Quienes Somos</a>
        <a class="footer__options--link" href="">Politica de privacidad</a>
        <a class="footer__options--link" href="">Programa de fidelidad</a>
        <a class="footer__options--link" href="">Nuestras tiendas</a>
        <a class="footer__options--link" href="">Quiero ser franquiciado</a>
        <a class="footer__options--link" href="">Anuncie aquí</a>
        </div>
        
    </div>
    
    <div class="footer__contact">
        <p class="footer__contact--title">Hable con nosotros</p>
        <input class="footer__contact--input" type="text" placeholder="Nombre">
        <textarea class="footer__contact--text" placeholder="Escribe tu mensaje" name="" id="" cols="30" rows="10"></textarea>
        <button class="footer__contact--button">Enviar mensaje</button>
    </div>
    </div>
</footer>

<div class="copyright">
    <p>© Copyright Elizabeth Restrepo - 2023</p>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


<script type="module" src="./js/carrusel.js"></script>
<script type="module" src="./assets/slick/slick.js"></script>
<script type="module" src="./assets/slick/slick.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js" integrity="sha512-UNM1njAgOFUa74Z0bADwAq8gbTcqZC8Ej4xPSzpnh0l6KMevwvkBvbldF9uR++qKeJ+MOZHRjV1HZjoRvjDfNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="module" src="./controllers/crear-products-controller.js"></script>
<script type="module" src="./controllers/edit-controller.js"></script>
<script type="module" src="./controllers/edit-products.controller.js"></script>
<script type="module" src="./controllers/products-controller.js"></script>
<script type="module" src="./controllers/update-controller.js"></script>


<script type="module" src="./services/lista-usuarios-service.js"></script>
<script type="module" src="./services/products-service.js"></script>

<script type="module" src="./js/singup.js"></script>
<script type="module" src="./js/login.js"></script>