<header class="header__container">
    <img class="header__img" src="./assets/img/boukaih-FdyzI_X38Yw-unsplash.jpg" alt="">
    <div class="header__description">
        <h1 class="header__title">Febrero Promocional</h1>
        <h2>Productos seleccionados con 33% de descuento</h2>
        <button class="header__description--button">Ver Consolas</button>
    </div>
</header>