<nav class="navbar">
    <div class="navbar__container">
        <img class="navbar__img" src="./assets/img/Logo.svg" alt="">

        <form id="search" class="navbar__imput">    
            <input class="navbar__input--container" id="searchInput" type="search" placeholder="¿Qué deseas buscar?">
            <button type="submit" requerid class="icon-Icone"></button>
        </form>
            
        
        {{#if false}}
            <a href="/login" class="navbar__button">
                Login
            </a>
        {{else}}
            <a href="/" class="navbar__button">
                Administrador
            </a>
        {{/if}}
    </div>

    
</nav>