<nav class="navbar">
    <div class="navbar__container">
        <img class="navbar__img" src="./assets/img/Logo.svg" alt="">
        <div class="navbar__input">
            <input class="navbar__input--container" type="text" placeholder="¿Qué deseas buscar?">
            <i class="icon-Icone"></i>
        </div>

        <a href="/login" class="navbar__button">
            Login
        </a>
    </div>

    
</nav>