<!DOCTYPE html>
<html lang="en">
    {{!-- //Head  --}}
    {{> head}}
<body>
     {{!-- //NAVBAR --}}
    {{> navbar}}

    <main>
        <section class="add-products">
            <div class="add-products__container" id="login">
            <h1 class="add-products__title">Agregar nuevo producto</h1>
            <form action="" class="add-products__input--container" data-form="">
                <input class="add-products__input" type="text" data-imgURL="" placeholder="URL de la imagen">
                <input class="add-products__input" type="text" placeholder="Categoría">
                <input class="add-products__input" type="text" data-name="" placeholder="Nombre del producto">
                <input class="add-products__input" type="number" data-price="" placeholder="Precio del producto">
                <input class="add-products__input" type="text" placeholder="Descripción del producto">
            </form>
            <button class="add-products__button">Agregar producto</button>
        </div>
        </section>
    </main>

    {{!-- //Footer --}}
    {{> footer}}

    <script type="module" src="../controllers/crear-products-controlles.js"></script>

    
</body>
</html>