<!DOCTYPE html>
<html lang="en">
    {{!-- //Head  --}}
    {{> head}}
<body>
     {{!-- //NAVBAR --}}
    {{> navbar}}

    <main>
        <section class="add-products">
            <div class="add-products__container" id="login">
            <h1 class="add-products__title">Agregar nuevo producto</h1>
            <div class="add-products__input--container">
                <input class="add-products__input" type="text" placeholder="URL de la imagen">
                <input class="add-products__input" type="text" placeholder="Categoría">
                <input class="add-products__input" type="text" placeholder="Nombre del producto">
                <input class="add-products__input" type="number" placeholder="Precio del producto">
                <input class="add-products__input" type="text" placeholder="Descripción del producto">
            </div>
            <button class="add-products__button">Agregar producto</button>
        </div>
        </section>
    </main>

    {{!-- //Footer --}}
    {{> footer}}

    
</body>
</html>