<!DOCTYPE html>
<html lang="en">

 {{!-- //Head  --}}
  {{> head}}

<body>
    {{!-- //NAVBAR --}}
    {{> navbar}}
    

    {{!-- //Header --}}
    {{> header}}
    

    <main class="main__container">
        <div class="container__name">
            <span class="container__title">Mario Bros</span>

            <a class="card__link" href="/products-mario_bros">
                <button class="card__link" type="submit">Ver todo</button>
            </a>  
        </div>

        <section data-mario_bros="">
            <div>
                
            </div>        
        
        </section>


        <div class="container__name">
            <span class="container__title">Consolas</span>

            <a class="card__link" href="/products-video_game">
                <button class="card__link" type="submit">Ver todo</button>
           </a>
        </div>
        
      <section data-video_game="">
        <div>

        </div>
    
      </section>

       <div class="container__name">
            <span class="container__title">Juegos de mesa</span>

            <a class="card__link" href="/products-board_game">
                <button class="card__link" type="submit">Ver todo</button>
           </a>
        </div>

      <section data-board_game="">
        <div>

        </div>
    
      </section>
    </main>

    {{!-- //Footer --}}
    {{> footer}}


    {{!-- //Script --}}
    
   
</body>
</html>