<!DOCTYPE html>
<html lang="en">

 {{!-- //Head  --}}
  {{> head}}

<body>
    {{!-- //NAVBAR --}}
    {{> navbar}}
    

    {{!-- //Header --}}
    {{> header}}
    

    <main class="main__container">
      <div class="container__name">
        <span class="container__title">Consolas</span>
        <a class="card__link" href="/products">Ver todo <img src="./assets/fonts/arrow_back_black_24dp 1.svg" alt=""></a>
      </div>
      <section class="your-class">
        <div>
          <a href="" class="card__container">
            <div class="card__container--description">
                <img class="card__img" src="./assets/img/cards/unsplash_0POwK6iAiRQ.png" alt="">
                <h4>13 USD</h4>
                <p>Producto XYZ</p>
            </div>
          </a>
        </div>
        <div>
          <a href="" class="card__container">
            <div class="card__container--description">
                <img class="card__img" src="./assets/img/cards/unsplash_caNzzoxls8Q.png" alt="">
                <h4>13 USD</h4>
                <p>Producto XYZ</p>
            </div>
          </a>
        </div>
        <div>
          <a href="" class="card__container">
            <div class="card__container--description">
                <img class="card__img" src="./assets/img/cards/unsplash_k-xYhI3-gJM.png" alt="">
                <h4>13 USD</h4>
                <p>Producto XYZ</p>
            </div>
          </a>
        </div>
        <div>
          <a href="" class="card__container">
            <div class="card__container--description">
                <img class="card__img" src="./assets/img/cards/unsplash_wa5z9o9fgjw.png" alt="">
                <h4>13 USD</h4>
                <p>Producto XYZ</p>
            </div>
          </a>
        </div>
        <div>
          <a href="" class="card__container">
            <div class="card__container--description">
                <img class="card__img" src="./assets/img/cards/unsplash_Zjn4dT993-g.png" alt="">
                <h4>13 USD</h4>
                <p>Producto XYZ</p>
            </div>
          </a>
        </div>
        <div>
          <a href="" class="card__container">
            <div class="card__container--description">
                <img class="card__img" src="./assets/img/cards/unsplash_ZV7lnfyQLmA.png" alt="">
                <h4>13 USD</h4>
                <p>Producto XYZ</p>
            </div>
          </a>
        </div>
        <div>
          <a href="" class="card__container">
            <div class="card__container--description">
                <img class="card__img" src="./assets/img/cards/unsplash_0POwK6iAiRQ.png" alt="">
                <h4>13 USD</h4>
                <p>Producto XYZ</p>
            </div>
          </a>
        </div>
        <div>
          <a href="" class="card__container">
            <div class="card__container--description">
                <img class="card__img" src="./assets/img/cards/unsplash_caNzzoxls8Q.png" alt="">
                <h4>13 USD</h4>
                <p>Producto XYZ</p>
            </div>
          </a>
        </div>
      </section>

      <div class="container__name">
        <span class="container__title">Consolas</span>
        <a class="card__link" href="#">Ver todo</a>
      </div>
      <section class="your-class">
        <div>
          <a href="" class="card__container">
            <div class="card__container--description">
                <img class="card__img" src="Assets/img/consola/unsplash_0POwK6iAiRQ.png" alt="">
                <h4>13 USD</h4>
                <p>Producto XYZ</p>
            </div>
          </a>
        </div>
        <div>
          <a href="" class="card__container">
            <div class="card__container--description">
                <img class="card__img" src="Assets/img/consola/unsplash_caNzzoxls8Q.png" alt="">
                <h4>13 USD</h4>
                <p>Producto XYZ</p>
            </div>
          </a>
        </div>
        <div>
          <a href="" class="card__container">
            <div class="card__container--description">
                <img class="card__img" src="Assets/img/consola/unsplash_k-xYhI3-gJM.png" alt="">
                <h4>13 USD</h4>
                <p>Producto XYZ</p>
            </div>
          </a>
        </div>
        <div>
          <a href="" class="card__container">
            <div class="card__container--description">
                <img class="card__img" src="Assets/img/consola/unsplash_wa5z9o9fgjw.png" alt="">
                <h4>13 USD</h4>
                <p>Producto XYZ</p>
            </div>
          </a>
        </div>
        <div>
          <a href="" class="card__container">
            <div class="card__container--description">
                <img class="card__img" src="Assets/img/consola/unsplash_Zjn4dT993-g.png" alt="">
                <h4>13 USD</h4>
                <p>Producto XYZ</p>
            </div>
          </a>
        </div>
        <div>
          <a href="" class="card__container">
            <div class="card__container--description">
                <img class="card__img" src="Assets/img/consola/unsplash_ZV7lnfyQLmA.png" alt="">
                <h4>13 USD</h4>
                <p>Producto XYZ</p>
            </div>
          </a>
        </div>
      </section>

      <div class="container__name">
        <span class="container__title">Consolas</span>
        <a class="card__link" href="#">Ver todo</a>
      </div>
      <section class="your-class">
        <div>
          <a href="" class="card__container">
            <div class="card__container--description">
                <img class="card__img" src="Assets/img/consola/unsplash_0POwK6iAiRQ.png" alt="">
                <h4>13 USD</h4>
                <p>Producto XYZ</p>
            </div>
          </a>
        </div>
        <div>
          <a href="" class="card__container">
            <div class="card__container--description">
                <img class="card__img" src="Assets/img/consola/unsplash_caNzzoxls8Q.png" alt="">
                <h4>13 USD</h4>
                <p>Producto XYZ</p>
            </div>
          </a>
        </div>
        <div>
          <a href="" class="card__container">
            <div class="card__container--description">
                <img class="card__img" src="Assets/img/consola/unsplash_k-xYhI3-gJM.png" alt="">
                <h4>13 USD</h4>
                <p>Producto XYZ</p>
            </div>
          </a>
        </div>
        <div>
          <a href="" class="card__container">
            <div class="card__container--description">
                <img class="card__img" src="Assets/img/consola/unsplash_wa5z9o9fgjw.png" alt="">
                <h4>13 USD</h4>
                <p>Producto XYZ</p>
            </div>
          </a>
        </div>
        <div>
          <a href="" class="card__container">
            <div class="card__container--description">
                <img class="card__img" src="Assets/img/consola/unsplash_Zjn4dT993-g.png" alt="">
                <h4>13 USD</h4>
                <p>Producto XYZ</p>
            </div>
          </a>
        </div>
        <div>
          <a href="" class="card__container">
            <div class="card__container--description">
                <img class="card__img" src="Assets/img/consola/unsplash_ZV7lnfyQLmA.png" alt="">
                <h4>13 USD</h4>
                <p>Producto XYZ</p>
            </div>
          </a>
        </div>
      </section>
    </main>

    {{!-- //Footer --}}
    {{> footer}}


    {{!-- //Script --}}
    
   
</body>
</html>