<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="./assets/slick/slick-theme.css">
    <link rel="stylesheet" href="./assets/slick/slick.css">
    <link rel="stylesheet" href="./css/icons.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/navbar.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/cards.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="css/login.css">

</head>
<body>
    {{!-- //NAVBAR --}}
    {{> navbar}}

<main>
    <section class="login">
        <div class="login__container" id="login">
            <h1 class="login__title">Iniciar Sección</h1>
            <div class="login__input--container">
                <input class="login__input" type="email" placeholder="Escriba su correo electronico">
                <input class="login__input" type="password" placeholder="Escriba su contraseña">
            </div>
            
            <button class="login__button">Entrar</button>
        </div>
    </section>

</main>
    

    {{!-- //Footer --}}
    {{> footer}}

</body>
</html>