<!DOCTYPE html>
<html lang="en">

{{!-- //Head  --}}
    {{> head}}

<body>
     {{!-- //NAVBAR --}}
    {{> navbar}}

    <main class="main__container">
        <div class="container__name--products">
            <span class="container__title--products">Todos los productos</span>
            <button class="products__button">
                <a class="products__button--link" href="/add-products">Agregar producto</a>
            </button>
            
        </div>
        <section class="grid__container" data-gameBoard="">
            
                
        </section>

    </main>

    {{!-- //Footer --}}
    {{> footer}}
    

</body>
</html>