*{
    box-sizing: border-box;
    font-family: Raleway;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.login{
    background:#F5F5F5;
    padding: 95px 0;
}

.login__button{
    align-items: center;
    background: #2A7AE4;
    border: 1px solid #2A7AE4;
    color: #FFF;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    padding:  12px 16px;
    position: relative;
    transition: 0.3s;
    transition-delay: 0.3s;
    width: 109px;
    z-index: 1;
}

.login__button::before{
    background:#FFF;
    border-radius: 50%;
    content: "";
    height: 200%;
    position: absolute;
    top: -100px;
    transition: 0.3s;
    width: 150%;
    z-index: -1;
}

.login__button:hover {
    color: #2A7AE4; 
}
  
.login__button:hover::before {
    top: -20px;
} 

.input-container {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.input {
  padding: 1.375rem 0.5rem 0.5rem;
  height: 3.25rem;
  width: 100%;
}

.input::placeholder {
  visibility: hidden;
  color: #00000000;
}

.input:focus {
  outline: none;
}

.input-label {
  position: absolute;
  top: 1.375rem;
  left: 0.5rem;
  font-size: var(--font-size-input-label);

  transition: all 0.25s;
}

.input:not(:placeholder-shown) + .input-label,
.input:focus + .input-label {
  font-size: 0.875rem;
  top: 0.25rem;
  transition: all 0.25s;
}

.input-container--invalid {
  margin-bottom: 0.5rem;
}

.input-container--invalid .input {
  border: 1px solid var(--warning-color);
  border-radius: 7px;
}

.input-container--invalid .input-label {
  color: var(--warning-color);
}

.input-message-error {
  display: none;
}

.input-container--invalid .input-message-error {
  color: var(--warning-color);
  display: block;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

.login__container{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form__login{
    width: 275px;
}


@media screen and (min-width:768px) {
    .login__button{
        margin: 0 auto;
        width: 109px;
    }

    .login__container{
        gap: 16px;
    }
    
   .form__login{
    width: 275px;
   }
}

@media screen and (min-width:992px) {
    .login__button{
        padding: 12px 16px;
        width: 423px;
    }

    .login__container{
        gap: 25px; 
    }

    .form__login{
        width: 423px;
    }
}