.icon-Icone{
    align-items: center;
    display: flex;
    font-size: 24px;
    padding: 16px;
}

.navbar {
    align-items: center;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1136px;
    padding: 16px;
}

.navbar__button{
    align-items: center;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    height: 40px;
    overflow: hidden;
    padding: 12px 16px;
    position: relative;
    transition: 0.3s;
    transition-delay: 0.3s;
    text-decoration: none;
    width: 133px;
    z-index: 1;
}

.navbar__button::before{
    background:#2A7AE4;
    border-radius: 50%;
    content: "";
    height: 200%;
    position: absolute;
    top: -80px;
    transition: 0.3s;
    width: 150%;
    z-index: -1;
}

.navbar__button:hover {
    color: #FFF; 
}
  
.navbar__button:hover::before {
    top: -20px;
} 




.navbar__container{
    align-items: center;
    display: flex;
    gap: 32px;
}

.navbar__img{
    width: 176px;
}

.navbar__input{
    background: #F5F5F5;
    border-radius: 20px;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    width: 393px;
    height: 40px;
}

.navbar__input--container{
    background: #F5F5F5;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 8px 16px;
    width: 393px;
}

@media screen and (min-width:768px) {
    .navbar{
        padding: 16px 32px;
    }

    .navbar__input{
        width: 272px;
    }

    .navbar__input--container{
        width: 272px;
    }
}


@media screen and (min-width:992px) {
    .navbar{
        padding:32px 0;
    }

    .navbar__input{
        width: 393px;
    }

    .navbar__input--container{
        width: 393px;
    }
}