*{
    box-sizing: border-box;
    font-family: Raleway;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.slick-list{
  margin-left: -10px;
}

.slick-slide{
  margin-left: 10px;
} 


[class^="icon-"]:before, [class*=" icon-"]:before {
  color: black;
  font-size: 24px;
  height: 24px;
}

.hidden {
  display: none!important;
}

