<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <section>
        <div class="login__container" id="login">
            <h1 class="login__title">Iniciar Sección</h1>
            <div class="login__input--container">
                <input class="login__input" type="email" placeholder="Escriba su correo electronico">
                <input class="login__input" type="password" placeholder="Escriba su contraseña">
            </div>
            
            <button class="login__button">Entrar</button>
        </div>
    </section>
</body>
</html>